
@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/ubuntu.eot");
	src: url("../fonts/ubuntu.eot?#iefix") format("embedded-opentype"),
		 	 url("../fonts/ubuntu.woff2") format("woff2"),
		   url("../fonts/ubuntu.woff") format("woff"),
		   url("../fonts/ubuntu.ttf") format("truetype");

	font-style: normal;
	font-weight: normal;
}