
@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/ubuntu.eot");
	src: url("../fonts/ubuntu.eot?#iefix") format("embedded-opentype"),
		 	 url("../fonts/ubuntu.woff2") format("woff2"),
		   url("../fonts/ubuntu.woff") format("woff"),
		   url("../fonts/ubuntu.ttf") format("truetype");

	font-style: normal;
	font-weight: normal;
}



@font-face {
	font-family: "Ubuntu Medium";
	src: url("../fonts/ubuntu-m-webfont.eot");
	src: url("../fonts/ubuntu-m-webfont.eot?#iefix") format("embedded-opentype"),
		 	 url("../fonts/ubuntu-m-webfont.woff2") format("woff2"),
		   url("../fonts/ubuntu-m-webfont.woff") format("woff"),
		   url("../fonts/ubuntu-m-webfont.ttf") format("truetype");

	font-style: normal;
	font-weight: normal;
}



@font-face {
	font-family: "Ubuntu Condensed";
	src: url("../fonts/ubuntu-condensed-regular-webfont.eot");
	src: url("../fonts/ubuntu-condensed-regular-webfont.eot?#iefix") format("embedded-opentype"),
		 	 url("../fonts/ubuntu-condensed-regular-webfont.woff2") format("woff2"),
		   url("../fonts/ubuntu-condensed-regular-webfont.woff") format("woff"),
		   url("../fonts/ubuntu-condensed-regular-webfont.ttf") format("truetype");

	font-style: normal;
	font-weight: normal;
}